<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <img src="/assets/LogoSm.png" alt="" />
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div
            class="footer-links col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
            <h6 class="text-uppercase mb-4 font-weight-bold">Navigation</h6>
            <p>
              <a class="text-white" href="/">Home</a>
            </p>
            <p>
              <a class="text-white" href="/#about-us">About us</a>
            </p>
            <p>
              <a class="text-white" href="/#courses">Courses</a>
            </p>
            <p>
              <a class="text-white" href="/our-team">Our team</a>
            </p>
            <p>
              <a class="text-white" href="/assets/Schedule.png">Schedule</a>
            </p>
            <p>
              <a class="text-white" href="/#contact">Contact</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div
            class="footer-links col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-left">
            <h6 class="text-uppercase mb-4 font-weight-bold">Courses</h6>
            <p>
              <a class="text-white" href="/course/kickbox">Kickbox</a>
            </p>
            <p>
              <a class="text-white" href="/course/grappling">Grappling</a>
            </p>
            <p>
              <a class="text-white" href="/course/mma">MMA</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div
            class="footer-links col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-left">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p>
              <i class="fas fa-location-dot mr-3"></i
              ><a
                href="https://www.google.com/maps?ll=30.026272,31.012046&z=16&t=m&hl=en&gl=CZ&mapclient=embed&cid=13084199697545924707">
                Governorate, Egypt</a
              >
            </p>
            <p>
              <i class="fas fa-envelope mr-3"></i
              ><a href="mailto:info@fcg.com"> info@fcg.com</a>
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i
              ><a href="tel:+444777333777"> +444 777 333 777</a>
            </p>
            <div>
              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>

              <a
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3" />

      <!-- Section: Copyright -->

      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
    <section class="p-0 pt-0 footer-down" style="background-color: #a80020">
      <div class="container">
        <div class="row py-3 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-6 text-md-start">
            <!-- Copyright -->
            <div class="p-0">
              © <%= new Date().getFullYear(); %> All rights reserved by
              <a class="text-white" href="/">Fight Club Gym</a>
            </div>
            <!-- Copyright -->
          </div>
          <div class="col-6 footer-author">
            Web&Design <a href="https://mladejovsky.cz">mladejovsky</a>
          </div>
        </div>
      </div>
    </section>
  </footer>

  <!-- Footer -->
</div>
<!-- End of .container -->
