<% layout('layouts/boilerplate')%>
<div class="course-top py-5">
  <h1 class="text-center">Kickbox</h1>
</div>
<div class="team">
  <!-- Brichta  -->
  <div class="trainer-left course-trainer trainer hidden-animation">
    <div class="trainer-img">
      <img src="/assets/heroKickbox.png" class="course-img" alt="" />
    </div>
    <div class="trainer-text" style="width: 40vw">
      <div class="trainer-text-heading mb-3">
        <h3 class="trainer-name">Learn kickbox</h3>
      </div>
      <div class="trainer-text-text">
        <h4>About this course</h4>
        <p class="course-text ml-2 w-75">
          This course will teach you both fundamentals of kickbox and advanced
          techniques. Leo Brichta leads this class and has already made many of
          the fighters professionals.
          <br />
          This class begins on 5<sup>th</sup> July 2024 and then begins over
          each month.
          <br />
          Price is 50€ per month, which includes 4 trainings per week for a
          month.
        </p>
        <h4>What will you learn?</h4>
        <ul class="ml-4">
          <li>Self defense</li>
          <li>Kickbox and K1</li>
          <li>High level techniques</li>
          <li>Lorem ipsum</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Oliveira -->
  <div
    class="trainer-left flex justify-content-between trainer hidden-animation">
    <div class="trainer-text">
      <div class="trainer-text-heading mb-3">
        <h2 class="trainer-coach">Coach</h2>
        <h3 class="trainer-name">Leo Brichta</h3>
        <h4 class="trainer-sports">Kickbox, MMA</h4>
      </div>
      <div class="trainer-text-text">
        <h4>Focus</h4>
        <ul class="ml-4">
          <li>Kickbox training</li>
          <li>MMA Training</li>
          <li>Private training sessions</li>
        </ul>
        <h4>Accomplishments</h4>
        <ul class="ml-4">
          <li>Oktagon champion</li>
          <li>Oktagon underground contender</li>
          <li>KSW contender</li>
          <li>TALK20 discount at kratomworld.cz</li>
        </ul>
      </div>
    </div>
    <div class="trainer-img">
      <img src="/assets/Brichta.png" alt="" />
    </div>
  </div>
</div>
