<% layout('layouts/boilerplate') %>
<main class="admin-dashboard">
  <h1 class="homepage-h2">Admin dashboard</h1>

  <div class="admin-links">
    <a href="/register">Add a new user</a>
    <a href="/blog/new">Add a new blog post</a>
  </div>
</main>
